<div flex>
    
    <md-toolbar class="md-hue-2" >
      <div class="md-toolbar-tools">
            <h2>
            <span>Pending Requests</span>
            </h2>
        <span flex></span>
        </div>
    </md-toolbar>
    <md-content>
       <md-list flex>
           <md-list-item class="md-2-line" ng-click="alert('h')" >
                <div class="md-list-item-text">
                    <h3>Fecha y hora:</h3>
                    <h4>Tripulante:</h4>
                     <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
                    
                        <md-icon md-svg-icon="images/icons/right.svg"></md-icon>
                     </md-button>
                    
                    <md-divider></md-divider>
                </div>
           </md-list-item>
           <md-list-item class="md-2-line" ng-click="alert('h')" >
                <div class="md-list-item-text">
                    <h3>Fecha y hora:</h3>
                    <h4>Tripulante:</h4>
                     <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call">
                    
                        <md-icon md-svg-icon="images/icons/right.svg"></md-icon>
                     </md-button>
                    
                    <md-divider></md-divider>
                </div>
           </md-list-item>
       </md-list>
</div>